@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

button {
height: 30px;
width: 60px;
border-radius: 20%;
background-color: antiquewhite;
}

.confettibutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.text{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}